@using Models._Cfl;


@if (false)
{
    <script src="~/Scripts/ASPxScriptIntelliSense.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-2.2.0.intellisense.js"></script>
    <script src="~/Scripts/Test/DXR.js"></script>
}

@model Models.Transaction.Adjustment.AdjustmentOutModel


@{
    ViewBag.UserId = (int)Session["userId"];
    ViewBag.Title = "Adjustment Out";
    string MenuCodePost = "AdjustmentOut/Post";
    string IsCanPost_ = "Y";
    if (ViewBag.UserId != 1)
    {
        IsCanPost_ = Models._Utils.GeneralGetList.GetIsCanAccessOpeningBalance(ViewBag.UserId, MenuCodePost);
    }
}



<script type="text/javascript">


    $(document).ready(function () {

        SetBtnStatus();
    }
    );


</script>



<script type="text/javascript">
    var IsCanPost_ = '@IsCanPost_';

    var beforeSaveActiveTabName = '';
    var beforeSaveActiveTabIndex = 0;

    $.ajaxSetup({
        cache: false
    });

    function OnBegin() {
        loadingPanel.Show();

    }

    function SetBtnStatus() {

        var btnNew = ASPxClientButton.Cast('btnNew');
        btnNew.SetEnabled(false);

        var grpBtnAdd = formLayouBtn.GetItemByName('grpBtnAdd');
        var btnAdd = ASPxClientButton.Cast('btnAdd');

        var grpBtnUpdate = formLayouBtn.GetItemByName('grpBtnUpdate');
        var btnUpdate = ASPxClientButton.Cast('btnUpdate');
        btnAdd.SetEnabled(false);

        var btnRefresh = ASPxClientButton.Cast('btnRefresh');

        var btnPost = ASPxClientButton.Cast('btnPost');

        var btnCancel = ASPxClientButton.Cast('btnCancel');

        var formMode = '';
        if ((Id.GetValue() == '') || Id.GetValue() == '0') {
            formMode = 'new';
        } else {
            formMode = 'edit';
        }

        var btnMenuOther = ASPxClientMenu.Cast('btnMenuOther');
        btnMenuOther.GetItemByName("btnMenuAuthorize").SetEnabled(false);

        btnPost.SetEnabled(false);
        btnCancel.SetEnabled(false);
        switch (formMode) {
            case 'new':

                grpBtnAdd.SetVisible(true);
                grpBtnUpdate.SetVisible(false);

                //btnAdd.SetEnabled(false);
                btnUpdate.SetEnabled(false);
                btnRefresh.SetEnabled(false);
                break;
            case 'edit':

                grpBtnAdd.SetVisible(false);
                grpBtnUpdate.SetVisible(true);

                //btnAdd.SetEnabled(false);
                btnRefresh.SetEnabled(true);
                btnUpdate.SetEnabled(true);
                var Status = ASPxClientComboBox.Cast('Status');
                switch (Status.GetValue()) {
                    case 'Draft':
                        btnUpdate.SetEnabled(true);

                        btnPost.SetEnabled(true);
                        btnCancel.SetEnabled(true);

                        if (ApprovalStatus.GetValue() == "Waiting") {
                            btnPost.SetEnabled(false);
                            btnMenuOther.GetItemByName("btnMenuAuthorize").SetEnabled(IsEligibleApprove_.GetValue() == "Y" ? true : false);
                        }

                        break;
                    case 'Posted':
                        btnUpdate.SetEnabled(true);

                        break;
                    case 'Cancel':
                        btnUpdate.SetEnabled(false);

                        break;
                    case 'Closed':
                        btnUpdate.SetEnabled(false);
                        break;
                    default:
                        break;

                }

                break;
            default:

                break;
        }

        if (IsCanPost_ == "N") {
            btnPost.SetEnabled(false);
        }
    }

    var msgCount = 0;
    function OnSuccess() {
        $("#MessageText").html('<p>' + '(' + (++msgCount) + ') ' + 'Action success</p>' + $("#MessageText").html());

    }


    function OnSuccessMsgBox() {

        $("#MessageText").html('<p>' + '(' + (++msgCount) + ') ' + 'Action success</p>' + $("#MessageText").html());
        loadingPanel.Hide();

        popupSuccess.Show();
        setTimeout(function () { popupSuccess.Hide(); }, 1000);

    }

    function OnFailure(jqXhr, textStatus, errorThrown) {
        if (beforeSaveActiveTabName != '') {
            var tab = ASPxClientTabControl.Cast(beforeSaveActiveTabName);
            tab.SetActiveTabIndex(beforeSaveActiveTabIndex);
            beforeSaveActiveTabName = '';
        }

        if (jqXhr.responseText.substring(0, 12) == "[VALIDATION]") {
            $("#MessageText").html('<p>' + '(' + (++msgCount) + ') ' + jqXhr.responseText + '</p>' + $("#MessageText").html());

            loadingPanel.Hide()
            alert(jqXhr.responseText);
        }
        else {
            // untuk error yg tidak ter capture di validation
            var doc = jqXhr.responseText.match(/.*<title>([\s\S]*)<\/title>.*/);
            if (doc != null) {
                $("#MessageText").html('<p>' + '(' + (++msgCount) + ') ' + doc[1] + '</p>' + $("#MessageText").html());

                loadingPanel.Hide();
                alert(doc[1]);
            }

        }

    }

    function OnComplete() {
        loadingPanel.Hide();
    }


    function BeforeSave() {

        var tab = ASPxClientTabControl.Cast("TabDetail");
        var tabPageCount = tab.GetTabCount();
        for (var i = 0; i < tabPageCount; i++) {
            tab.SetActiveTabIndex(i);
            if (!($("#formDetail").valid())) {
                var validator = $("#formDetail").validate();
                var errors = validator.numberOfInvalids();
                if (errors) {
                    // alert( validator.errorList[0].message);
                    validator.errorList[0].element.focus();

                }
                return false;
            }
        }

        return true;

    }


    function RefreshAfterSuccess(response) {
        //var tab = ASPxClientTabControl.Cast("TabDetail");

        //if (tab.GetActiveTabIndex != 0) {
        //    tab.SetActiveTabIndex(0);
        //}

        $("#contentForm").html(response);

        $.validator.unobtrusive.parse("#formDetail");

        MVCxClientUtils.FinalizeCallback();
        SetBtnStatus();
        //ExpiredTypeOnValueChange();
    }



    function OnClickBtnNew(s, e) {

        $.ajax({
            type: "POST",
            url: "@Url.Action("DetailPartial", "AdjustmentOut")",
            beforeSend: function () {
                OnBegin();
            },

            success: function (response) {
                RefreshAfterSuccess(response);
                OnSuccess();
            },

            error: function (jqXhr, textStatus, errorThrown) {
                OnFailure(jqXhr, textStatus, errorThrown)
            },

            complete: function () {
                OnComplete()
            }
        });

    }

    function OnClickBtnPost(s, e) {

        if (BeforeSave() == false) {
            return;
        }
        key = Id.GetValue();

        var isApproval = ApprovalTemplateId_.GetValue();
        var approvalStatus = ApprovalStatus.GetValue();

        if ((isApproval != "-1" || approvalStatus != null) && approvalStatus != "Approved") {
            btnShowApprovalOnClick(s, e, key);
        } else {
            Post(s, e);
        }
    }

    function Post(s, e) {
         var formData = GetFormData();
        if (confirm('Post transaction?')) {
            key = Id.GetValue();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Post", "AdjustmentOut")',
                data: formData,
                beforeSend: function () {
                    OnBegin();
                },
                success: function (response) {
                    RefreshAfterSuccess(response);
                    OnSuccessMsgBox();

                },
                error: function (jqXhr, textStatus, errorThrown) {
                    OnFailure(jqXhr, textStatus, errorThrown)
                },
                complete: function () {
                    OnComplete()
                }
            });
        }
    }

    function btnApproveApprovalOnClick(s, e) {
        key = Id.GetValue();
        var reason = RequestMassage.GetValue();

        $.ajax({
            type: "POST",
            url: '@Url.Action("Approve", "AdjustmentOut")',
            data: { Id: key, ApprovalMessage: reason },
            beforeSend: function () {
                OnBegin();
            },
            success: function (response) {
                popupApproval.Hide();
                RefreshAfterSuccess(response);
                OnSuccessMsgBox();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                OnFailure(jqXhr, textStatus, errorThrown)
            },
            complete: function () {
                OnComplete()

            }
        });

    }

    function btnRequestApprovalOnClick(s, e) {
        key = Id.GetValue();
        var reason = RequestMassage.GetValue();
        var templateId = ApprovalTemplateId_.GetValue();

        $.ajax({
            type: "POST",
            url: '@Url.Action("RequestApproval", "AdjustmentOut")',
            data: { id: key, templateId: templateId, approvalMessage: reason },
            beforeSend: function () {
                OnBegin();
            },
            success: function (response) {
                popupApproval.Hide();
                RefreshAfterSuccess(response);
                OnSuccessMsgBox();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                OnFailure(jqXhr, textStatus, errorThrown)
            },
            complete: function () {
                OnComplete()

            }
        });
    }

    function btnRejectApprovalOnClick(s, e) {
        if (confirm('Are you sure to Reject this transaction?')) {
             key = Id.GetValue();
            var reason = RequestMassage.GetValue();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Reject", "AdjustmentOut")',
                data: { Id: key, ApprovalMessage: reason },
                beforeSend: function () {
                    OnBegin();
                },
                success: function (response) {
                    popupApproval.Hide();
                    RefreshAfterSuccess(response);
                    OnSuccessMsgBox();
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    OnFailure(jqXhr, textStatus, errorThrown)
                },
                complete: function () {
                    OnComplete()

                }
            });
        }

    }

    function OnClickBtnCancel(s, e) {
        key = Id.GetValue();
        btnShowCancelReasonOnClick(s, e, key);
    }


    function GetFormData() {
        var formData = $('#formDetail').serializeObject();

        var Details_ = GetGvDetails('gvDetail');
        $.extend(formData, { Details_: Details_ });
        return formData;
    }


    function OnClickBtnAdd(s, e) {
        if (BeforeSave() == false) {
            return;
        }

        var formData = GetFormData();/*$('#formDetail').serializeObject();*/

        $.ajax({
            type: "POST",
            url: '@Url.Action("Add", "AdjustmentOut")',
            data: formData,
            beforeSend: function () {
                OnBegin();
            },
            success: function (response) {
                RefreshAfterSuccess(response);
                OnSuccessMsgBox();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                OnFailure(jqXhr, textStatus, errorThrown)
            },
            complete: function () {
                OnComplete();
            }
        });


    }

    function OnClickBtnUpdate(s, e) {
        if (BeforeSave() == false) {
            return;
        }

        var formData = GetFormData();

        $.ajax({
            type: "POST",
            url: '@Url.Action("Update", "AdjustmentOut")',
            data: formData,
            beforeSend: function () {
                OnBegin();
            },
            success: function (response) {
                RefreshAfterSuccess(response);
                OnSuccessMsgBox();

            },
            error: function (jqXhr, textStatus, errorThrown) {
                OnFailure(jqXhr, textStatus, errorThrown)
            },
            complete: function () {
                OnComplete()

            }
        });



    }




    function OnClickBtnNavFirst(s, e) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("NavFirst", "AdjustmentOut")",
            beforeSend: function () {
                OnBegin();
            },
            success: function (response) {
                RefreshAfterSuccess(response);
                OnSuccess();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                OnFailure(jqXhr, textStatus, errorThrown)
            },
            complete: function () {
                OnComplete()
            }
        });
    }

    function OnClickBtnNavPrevious(s, e) {
        key = Id.GetValue();

        $.ajax({
            type: "POST",
            url: '@Url.Action("NavPrevious", "AdjustmentOut")',
            data: { Id: key },
            beforeSend: function () {
                OnBegin();
            },
            success: function (response) {
                RefreshAfterSuccess(response);
                OnSuccess();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                OnFailure(jqXhr, textStatus, errorThrown)
            },
            complete: function () {
                OnComplete()
            }
        });
    }

    function OnClickBtnNavNext(s, e) {
        key = Id.GetValue();
        $.ajax({
            type: "POST",
            url: '@Url.Action("NavNext", "AdjustmentOut")',
            data: { Id: key },
            beforeSend: function () {
                OnBegin();
            },
            success: function (response) {
                RefreshAfterSuccess(response);
                OnSuccess();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                OnFailure(jqXhr, textStatus, errorThrown)
            },
            complete: function () {
                OnComplete()
            }
        });
    }



    function OnClickBtnNavLast(s, e) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("NavLast", "AdjustmentOut")",
            beforeSend: function () {
                OnBegin();
            },
            success: function (response) {
                RefreshAfterSuccess(response);
                OnSuccess();

            },
            error: function (jqXhr, textStatus, errorThrown) {
                OnFailure(jqXhr, textStatus, errorThrown)
            },
            complete: function () {
                OnComplete()
            }
        });
    }


    function OnClickBtnRefresh(s, e) {
        key = Id.GetValue();

        $.ajax({
            type: "POST",
            url: '@Url.Action("DetailPartial", "AdjustmentOut")',
            data: { Id: key },
            beforeSend: function () {
                OnBegin();
            },
            success: function (response) {
                RefreshAfterSuccess(response);
                OnSuccess();

            },
            error: function (jqXhr, textStatus, errorThrown) {
                OnFailure(jqXhr, textStatus, errorThrown)
            },
            complete: function () {
                OnComplete()
            }
        });
    }



    function OnClickBtnListFind(s, e) {
        var popup = ASPxClientPopupControl.Cast("popupList");

        var gv = ASPxClientGridView.Cast('gvAdjustmentOutList');
        if (gv == null) {
            popup.Show();
        } else {
            popup.SetContentHtml("");
            popup.PerformCallback();
            popup.Show();
        }
    }

    function OnClickBtnMenuOther(s, e) {

        switch (e.item.name) {
            case 'btnMenuAuthorize':
                key = Id.GetValue();
                btnShowApprovalOnClick(s, e, key);
                break;
            case 'btnMenuSetStatusCancel':
                key = Id.GetValue();
                btnShowCancelReasonOnClick(s, e, key);

                break;
            case 'btnMenuSetStatusPost':
                if (BeforeSave() == false) {
                    return;
                }
                var formData = GetFormData();
                if (confirm('Post transaction?')) {
                    key = Id.GetValue();

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Post", "AdjustmentOut")',
                        data: formData,
                        beforeSend: function () {
                            OnBegin();
                        },
                        success: function (response) {
                            RefreshAfterSuccess(response);
                            OnSuccessMsgBox();

                        },
                        error: function (jqXhr, textStatus, errorThrown) {
                            OnFailure(jqXhr, textStatus, errorThrown)
                        },
                        complete: function () {
                            OnComplete()
                        }
                    });
                }


                break;
            default:

                break;
        }
    }


    //pillars to project
    function onPillarsChanged(s, e) {
        var item = s.GetSelectedItem();
        if (item) {
            var name = item.GetColumnText("Name");   // ambil kolom Name
            PillarsName.SetText(name);            // isi TextBox
        } else {
            PillarsName.SetText("");
        }
    }

    function onClassChanged(s, e) {
        var item = s.GetSelectedItem();
        if (item) {
            var name = item.GetColumnText("Name");   // ambil kolom Name
            ClassName.SetText(name);            // isi TextBox
        } else {
            ClassName.SetText("");
        }
    }

    function onSubClass1Changed(s, e) {
        var item = s.GetSelectedItem();
        if (item) {
            var name = item.GetColumnText("Name");   // ambil kolom Name
            SubClass1Name.SetText(name);            // isi TextBox
        } else {
            SubClass1Name.SetText("");
        }
    }

    function onSubClass2Changed(s, e) {
        var item = s.GetSelectedItem();
        if (item) {
            var name = item.GetColumnText("Name");   // ambil kolom Name
            SubClass2Name.SetText(name);            // isi TextBox
        } else {
            SubClass2Name.SetText("");
        }
    }

    function onProjectChanged(s, e) {
        var item = s.GetSelectedItem();
        if (item) {
            var name = item.GetColumnText("Name");   // ambil kolom Name
            ProjectName.SetText(name);            // isi TextBox
        } else {
            ProjectName.SetText("");
        }
    }

    function popupCancelReason_EndCallback(s, e) {
        $.validator.unobtrusive.parse("#CancelReason_formDetail");

        var popup = ASPxClientPopupControl.Cast("popupCancelReason");
        if (!popup.IsVisible()) {
            loadingPanel.Hide();
            popup.ShowAtPos(400, 100);
        }
    }

    function btnShowCancelReasonOnClick(s, e, Id) {
        var popup = ASPxClientPopupControl.Cast("popupCancelReason");

        popup.callbackUrl = '@Url.Action("CancelReason_PopupListOnDemandPartial", "AdjustmentOut")' + '?Id=' + Id;
        popup.PerformCallback();

        if (!popup.IsVisible()) {
            loadingPanel.Show();
        }
    }

     function popupApproval_EndCallback(s, e) {
        $.validator.unobtrusive.parse("#Approval_formDetail");

        var popup = ASPxClientPopupControl.Cast("popupApproval");
        if (!popup.IsVisible()) {
            loadingPanel.Hide();
            popup.ShowAtPos(400, 100);
        }
    }

    function btnShowApprovalOnClick(s, e, Id) {
        var popup = ASPxClientPopupControl.Cast("popupApproval");

        popup.callbackUrl = '@Url.Action("Approval_PopupListOnDemandPartial", "AdjustmentOut")' + '?Id=' + Id;
        popup.PerformCallback();

        if (!popup.IsVisible()) {
            loadingPanel.Show();
        }
    }

    function OnClickChooseItem(s, e, detId) {
        key = Id.GetValue();

        var popup = ASPxClientPopupControl.Cast("popupItemTag");

        popup.callbackUrl = '@Url.Action("ViewItemTag_PopupListOnDemandPartial", "AdjustmentOut")' + '?Id=' + key + '&DetId=' + detId;
        popup.PerformCallback();

        if (!popup.IsVisible()) {
            loadingPanel.Show();
        }
    }

    function btnUpdateReasonOnClick(s, e) {
        key = Id.GetValue();
        var reason = CancelReason2.GetValue();
        if (reason == "" || reason == null) {
            return;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("Cancel", "AdjustmentOut")',
            data: { Id: key, CancelReason: reason },
            beforeSend: function () {
                OnBegin();
            },
            success: function (response) {
                popupCancelReason.Hide();
                RefreshAfterSuccess(response);
                OnSuccessMsgBox();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                OnFailure(jqXhr, textStatus, errorThrown)
            },
            complete: function () {
                OnComplete()

            }
        });

    }

    function OnClickChoose(s, e, key) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DetailPartial", "AdjustmentOut")',
            data: { Id: key },
            beforeSend: function () {
                OnBegin();
            },
            success: function (response) {
                RefreshAfterSuccess(response);
                OnSuccess();
                popupList.Hide();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                OnFailure(jqXhr, textStatus, errorThrown)
            },
            complete: function () {
                OnComplete()
            }
        });
    }

    function BtnCflStatusOnClick(id) {
        var popup = ASPxClientPopupControl.Cast("popupViewApproval");
        popup.callbackUrl = '@Url.Action("ViewApproval_PopupListOnDemandPartial", "AdjustmentOut")' + '?Id=' + id;
        popup.PerformCallback();

        if (!popup.IsVisible()) {
            popup.Show();
        }

    }
	
	function popupViewApproval_EndCallback(s, e) {
        $.validator.unobtrusive.parse("#ViewApproval_formDetail");

        var popup = ASPxClientPopupControl.Cast("popupViewApproval");
        if (!popup.IsVisible()) {
            loadingPanel.Hide();
            popup.ShowAtPos(400, 100);
        }
    }

</script>


<script type="text/javascript">


    function OnBatchEditStartEditing(s, e) {
    }

    function OnBatchEditEndEditing(s, e) {
    }

    function OnGridFocusedRowChanged(s, e) {
    }

    function setColValue(s, e, value) {
    }

    function OnLookupBeginCallback(s, e) {
    }
</script>
<script type="text/javascript">

    function gvDetailOnBeginCallback(s, e) {
        e.customArgs['cbId'] = Id.GetValue();
    }

    function gvDetailOnEndCallback(s, e) {

    }

    function gvDetailOnCustomButtonClick(s, e) {
    }


    function gvDetailOnBatchEditStartEditing(s, e) {
    }

    function gvDetailOnBatchEditEndEditing(s, e) {
    }

    function gvDetailOnBatchEditRowValidating(s, e) {
    }

    function gvDetailCalculateSummary(grid, rowValues, visibleIndex, isDeleting) {

    }

    function gvDetail_PillarsCodeOnChange(s, e, name) {
        var PillarsName = ASPxClientTextBox.Cast("gvAdjustmentOutDetail_PillarsName");
        PillarsName.SetValue(name);
    }

    function gvDetail_ClassCodeOnChange(s, e, name) {
        var ClassName = ASPxClientTextBox.Cast("gvAdjustmentOutDetail_ClassName");
        ClassName.SetValue(name);
    }

    function gvDetail_SubClass1CodeOnChange(s, e, name) {
        var SubClass1Name = ASPxClientTextBox.Cast("gvAdjustmentOutDetail_SubClass1Name");
        SubClass1Name.SetValue(name);
    }

    function gvDetail_SubClass2CodeOnChange(s, e, name) {
        var SubClass2Name = ASPxClientTextBox.Cast("gvAdjustmentOutDetail_SubClass2Name");
        SubClass2Name.SetValue(name);
    }

    function gvDetail_ProjectCodeOnChange(s, e, name) {
        var ProjectName = ASPxClientTextBox.Cast("gvAdjustmentOutDetail_ProjectName");
        ProjectName.SetValue(name);
    }


</script>



@Html.Partial("Partial/AdjustmentOut_Form_Btn_Partial")

@using (Ajax.BeginForm("mantap", "AdjustmentOut", null,
new AjaxOptions
{
    HttpMethod = "POST",
    OnBegin = "OnBegin",
    OnSuccess = "OnSuccessMsgBox",
    OnFailure = "OnFailure",
    OnComplete = "OnComplete",
    UpdateTargetId = "contentForm",
    InsertionMode = InsertionMode.Replace,

},
new
{
    id = "formDetail",
    @class = "edit_form",
    style = "height: 200px; width: 100%;",
    autocomplete = "off"
}))
{
    <div id="contentForm" style="padding-top:79px">
        @Html.Partial("Partial/AdjustmentOut_Form_Partial")

    </div>
}


@*
    -----------------------------------------------------------------------------
    loadingPanel
    -----------------------------------------------------------------------------
*@

@Html.DevExpress().LoadingPanel(
    settings =>
    {
        settings.Name = "loadingPanel";
        settings.Modal = true;
        settings.ContainerElementID = "contentForm";
        settings.Styles.LoadingDiv.BackColor = System.Drawing.Color.White;
        settings.Styles.LoadingDiv.Opacity = 0;
    }).GetHtml()


@*-------------------------------------------------
    Approval
    -------------------------------------------------*@
<script>
    function gvApprovalOnBeginCallback(s, e) {
        e.customArgs['cbId'] = Id.GetValue();
    }
</script>
@Html.Partial("Partial/Approval/Approval_Partial")
@*-------------------------------------------------
    View Approval
    -------------------------------------------------*@
<script>
    function ViewApproval_OnClickBtnCancel(s, e) {
        var popup = ASPxClientPopupControl.Cast("popupViewApproval");
        popup.Hide();
    }
    function ViewApproval_gvContentDetailBeginCallback(s, e) {
        e.customArgs['cbId'] = Id.GetValue();
    }
</script>
@Html.Partial("Partial/ViewApproval/ViewApproval_Partial")


@*-------------------------------------------------
    CancelReason
    -------------------------------------------------*@

@Html.Partial("Partial/CancelReason/CancelReason_Partial")


@*-------------------------------------------------
    ViewItemTag
    -------------------------------------------------*@
<script>

    function popupItemTag_EndCallback(s, e) {
        $.validator.unobtrusive.parse("#ItemTag_formDetail");

        var popup = ASPxClientPopupControl.Cast("popupItemTag");
        if (!popup.IsVisible()) {
            loadingPanel.Hide();
            popup.ShowAtPos(400, 100);
        }
    }

    function ViewItemTag_OnClickBtnCancel(s, e) {
        var popup = ASPxClientPopupControl.Cast("popupItemTag");
        popup.Hide();
    }


</script>

@Html.Partial("Partial/ItemTag/ItemTag_Partial")

@*
    -----------------------------------------------------------------------------
    gvShipList
    -----------------------------------------------------------------------------
*@

@Html.Partial("Partial/AdjustmentOut_Panel_List_Partial")

@*
    -----------------------------------------------------------------------------
    gvAdjustmentOutAttachmentDetail
    -----------------------------------------------------------------------------
*@
<script>
    function gvAdjustmentOutAttachmentDetailBeginCallback(s, e) {
        e.customArgs['cbId'] = Id.GetValue();
    }


    function gvAdjustmentOutAttachmentDetail_OnClickBtnNew() {
        var popup = ASPxClientPopupControl.Cast("popupAttachment");
        popup.callbackUrl = '@Url.Action("Attachment_PopupListLoadOnDemandPartial", "AdjustmentOut")' + '?Id=' + Id.GetValue(); // "/ESKA_APP/AdjustmentOut/Attachment_PopupListLoadOnDemandPartial?Id=" + Id.GetValue();

        popup.PerformCallback();


        popup.Show();
    }

    function Attachment_OnClickBtnUpload(s, e) {
        // Attachment_formDetail.action = '@Url.Action("Attachment_Upload", "AdjustmentOut")';
        // $("#Attachment_formDetail").submit();

        UploadMultiFile.Upload();

    }

    function Attachment_OnClickBtnCancel(s, e) {
        var popup = ASPxClientPopupControl.Cast("popupAttachment");
        popup.Hide();

    }

    function Attachment_FileUploadComplete(s, e) {
        var popup = ASPxClientPopupControl.Cast("popupAttachment");
        popup.Hide();
        gvAdjustmentOutAttachmentDetail.PerformCallback();;
    }

    function gvAdjustmentOutAttachmentDetail_OnClickBtnDelete(DetId) {
        //if (Status.GetValue() == "Posted" )
        //{
        //    alert("Tidak dapat di delete jika sudah posted!");
        //    return;
        //}

        if (confirm('Delete data?')) {
            var gv = ASPxClientGridView.Cast("gvAdjustmentOutAttachmentDetail");
            gv.DeleteRowByKey(DetId);
        }
    }
</script>
@Html.Partial("Partial/Attachment/Attachment_Panel_Partial")



@Html.Partial("~/Views/_CrystalReport/Layout/Print_Panel_Partial.cshtml")



@Html.Partial("Partial/AdjustmentOut_Form_BtnBottom_Partial")