@using System.Data
@using ESKA_APP.Model

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>
        @{ var pageTitleParts = new string[] { ViewBag.Title, "ESKA Corperation" }; }
        @string.Join(" - ", @pageTitleParts.Where(s => !string.IsNullOrEmpty(s)))
    </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0" />
    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
    new StyleSheet { ExtensionSuite = ExtensionSuite.VerticalGrid },
    new StyleSheet { ExtensionSuite = ExtensionSuite.CardView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
    new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Gantt },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Diagram },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
    new StyleSheet { ExtensionSuite = ExtensionSuite.ClientRichEdit },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Dashboard },
    new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker },
    new StyleSheet { ExtensionSuite = ExtensionSuite.QueryBuilder }
)
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.TreeList },
        new Script { ExtensionSuite = ExtensionSuite.VerticalGrid },
        new Script { ExtensionSuite = ExtensionSuite.CardView },
        new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
        new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new Script { ExtensionSuite = ExtensionSuite.RichEdit },
        new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
        new Script { ExtensionSuite = ExtensionSuite.Scheduler },
        new Script { ExtensionSuite = ExtensionSuite.Gantt },
        new Script { ExtensionSuite = ExtensionSuite.Diagram },
        new Script { ExtensionSuite = ExtensionSuite.Chart },
        new Script { ExtensionSuite = ExtensionSuite.Report },
        new Script { ExtensionSuite = ExtensionSuite.ClientRichEdit },
        new Script { ExtensionSuite = ExtensionSuite.Dashboard },
        new Script { ExtensionSuite = ExtensionSuite.SpellChecker },
        new Script { ExtensionSuite = ExtensionSuite.QueryBuilder }
    )

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Content.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Layout.css")" />
    @*<link href="@Url.Content("~/Content/dx.material.custom-scheme.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/Styles.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Head", false)
    <script type="text/javascript" src="@Url.Content("~/Content/Script.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Idu.js")"></script>


    <script>
        // sending the __RequestVerificationToken value manually, see details: https://github.com/DevExpress/aspnet-security-bestpractices/tree/master/SecurityBestPractices.Mvc#4-preventing-cross-site-request-forgery-csrf
        if (window.jQuery) {
            $.ajaxPrefilter(function (options, originalOptions, xhr) {
                if (options.dataType && options.dataType !== "html")
                    return;
                var tokenValue = $('input:hidden[name="__RequestVerificationToken"]').val();
                if (tokenValue && options && options.data && options.data.indexOf('RequestVerificationToken') === -1)
                    options.data += "&__RequestVerificationToken=" + tokenValue;
            });
        }

        function OnClickIconNotification(s, e) {
            var popup = ASPxClientPopupControl.Cast("notificationPopupListNotification");

            var gv = ASPxClientGridView.Cast('gvNotificationListNotification');
            if (gv == null) {
                popup.Show();
            } else {
                popup.SetContentHtml("");
                popup.PerformCallback();
                popup.Show();
            }
        }

    </script>
</head>
<body>
    <div class="content-wrapper">
        @Html.DevExpress().Panel(settings => {
       settings.Name = "headerPanel";
       settings.FixedPosition = PanelFixedPosition.WindowTop;
       settings.FixedPositionOverlap = true;
       settings.ControlStyle.CssClass = "app-header";
       settings.SetContent(() => {
           ViewContext.Writer.Write("<div class='left-block'>");

           @Html.DevExpress().Menu(menuSettings => {
               menuSettings.Name = "leftAreaMenu";
               menuSettings.ItemAutoWidth = false;
               menuSettings.EnableHotTrack = false;
               menuSettings.SettingsAdaptivity.Enabled = true;
               menuSettings.Width = Unit.Percentage(100);
               menuSettings.SyncSelectionMode = SyncSelectionMode.None;
               menuSettings.ControlStyle.CssClass = "header-menu";
               menuSettings.ControlStyle.SeparatorWidth = 0;
               menuSettings.Styles.Item.VerticalAlign = VerticalAlign.Middle;
               menuSettings.Styles.Item.CssClass = "item";
               menuSettings.ClientSideEvents.ItemClick = "onLeftMenuItemClick";
               menuSettings.Items.Add(item => {
                   item.Text = "";
                   item.Name = "ToggleLeftPanel";
                   item.GroupName = "LeftPanel";
                   item.Image.Url = "~/Content/Images/menu.svg";
                   item.Image.Height = Unit.Pixel(18);
                   item.Image.Width = Unit.Pixel(18);
                   item.ItemStyle.CssClass = "toggle-item vertically-aligned";
                   item.ItemStyle.CheckedStyle.CssClass = "checked selected";
               });

               menuSettings.Items.Add(item => {
                   item.Text = "";
                   item.NavigateUrl = "~/";
                   item.ItemStyle.CssClass = "image-item vertically-aligned";
                   item.Image.SpriteProperties.CssClass = "header-logo";
               });
           }).GetHtml();
           ViewContext.Writer.Write("</div><div class='right-block'>");
           @Html.DevExpress().Menu(menuSettings => {
               menuSettings.Name = "rightAreaMenu";
               menuSettings.ItemAutoWidth = false;
               menuSettings.SettingsAdaptivity.Enabled = true;
               menuSettings.Width = Unit.Percentage(100);
               menuSettings.ShowPopOutImages = DefaultBoolean.False;
               menuSettings.ControlStyle.SeparatorWidth = 0;
               menuSettings.ApplyItemStyleToTemplates = true;
               menuSettings.ControlStyle.CssClass = "header-menu";
               menuSettings.Styles.Item.VerticalAlign = VerticalAlign.Middle;
               menuSettings.Styles.Item.CssClass = "item";
               menuSettings.Styles.SubMenu.CssClass = "header-sub-menu";
               menuSettings.Styles.SubMenuItem.CssClass = "item";
               menuSettings.ClientSideEvents.ItemClick = "onRightMenuItemClick";

               menuSettings.Items.Add(item =>
               {
                   //item.Name = "NotificationItem";
                   //item.Text = "";
                   //item.ItemStyle.CssClass = "image-item"; // biar style nya sama dgn AccountItem
                   //item.SetTextTemplateContent(template =>
                   //{
                   //    // icon + badge sederhana
                   //    ViewContext.Writer.Write(@"
                   //     <div class='notif-wrap'>
                   //         <img src='" + Url.Content("~/Content/Images/bell.svg") + @"' class='notif-icon' />
                   //         <span id='notifBadge' class='notif - badge' style='display: none'>0</span>
                   //     </div>
                   // ");
                   //});

                   item.Name = "NotificationItem";
                   item.Text = "";
                   item.ItemStyle.CssClass = "image-item";
                   item.SetTextTemplateContent(template =>
                   {
                       ViewContext.Writer.Write(@"
                        <div class='notif-wrap'>
                            <img src='" + Url.Content("~/Content/Images/bell_amber.svg") + @"' class='notif-icon' />
                            <span id='notifBadge' class='notif-badge' style='display:none'>0</span>
                        </div>
                        ");
                   });

               });

               menuSettings.ClientSideEvents.ItemClick = "OnClickIconNotification";
               //menuSettings.ClientSideEvents.ItemClick = "function(s,e){ notificationPopupListNotification.Show(); }";

               menuSettings.Items.Add(item => {
                   item.Name = "AccountItem";
                   item.ItemStyle.CssClass = "image-item";
                   item.SetTextTemplateContent(template => {
                       string className = AuthHelper.IsAuthenticated() ? "account-image" : "empty-image";
                       string accountItemContent = "", accountItemBackgroundStyle = "";
                       if(AuthHelper.IsAuthenticated()) {
                           var user = AuthHelper.GetLoggedInUserInfo();
                           if(string.IsNullOrEmpty(user.AvatarUrl))
                               accountItemContent = string.Format("{0}{1}", user.FirstName[0], user.LastName[0]).ToUpper();
                           else
                               accountItemBackgroundStyle = string.Format("style=\"background-image: url('{0}')\"", Url.Content("~/Content/Images/user.svg"));
                       }
                       ViewContext.Writer.Write("<div class='account-background'>");
                       ViewContext.Writer.Write("<div " + accountItemBackgroundStyle + " class='" + className + "'>" + accountItemContent + "</div>");
                       ViewContext.Writer.Write("</div>");
                   });
                   item.Items.Add(subItem => {
                       subItem.Name = "MyAccountItem";
                       subItem.Text = "My account";
                       subItem.ItemStyle.CssClass = "myaccount-item";
                       subItem.SetTextTemplateContent(template => {
                           Html.RenderPartial("LogonPartial");
                       });
                   });
                   item.Items.Add(subItem => {
                       subItem.Name = "SignOutItem";
                       subItem.Text = "Sign out";
                       subItem.Image.Url = "~/Content/Images/sign-out.svg";
                       subItem.Image.Width = Unit.Pixel(16);
                       subItem.Image.Height = Unit.Pixel(16);
                       subItem.NavigateUrl = Url.Action("Logout", "Logout");
                   });

               });
               if(IsSectionDefined("RightPanelContent")) {
                   menuSettings.Items.Add(item => {
                       item.Name = "ToggleRightPanel";
                       item.Text = "";
                       item.GroupName = "RightPanel";
                       item.ItemStyle.CssClass = "toggle-item vertically-aligned";
                       item.ItemStyle.CheckedStyle.CssClass = "checked selected";
                       item.Image.Height = Unit.Pixel(18);
                       item.Image.SpriteProperties.CssClass = "image";
                   });
               }
           }).GetHtml();
           ViewContext.Writer.Write("</div>");

           ViewContext.Writer.Write("<div class='dx-clear'></div>");
       });
   }).GetHtml()

        @Html.DevExpress().Panel(settings => {
            settings.Name = "leftPanel";
            settings.Collapsible = true;
            settings.ControlStyle.BackColor = System.Drawing.Color.FromName("#1f2d3d");
            settings.ScrollBars = ScrollBars.Auto;
            settings.FixedPosition = PanelFixedPosition.WindowLeft;
            settings.Width = Unit.Pixel(272);
            settings.SettingsAdaptivity.CollapseAtWindowInnerWidth = 960;
            settings.ControlStyle.CssClass = "left-panel";
            settings.Styles.Panel.Paddings.Padding = Unit.Pixel(0);
            settings.Styles.ExpandBar.CssClass = "expand-bar";
            settings.SettingsCollapsing.ExpandButton.Visible = false;
            settings.SettingsCollapsing.ExpandEffect = PanelExpandEffect.PopupToRight;
            settings.SettingsCollapsing.AnimationType = AnimationType.Slide;
            settings.SettingsCollapsing.Modal = true;
            settings.ClientSideEvents.Init = "onLeftPanelInit";
            settings.ClientSideEvents.Collapsed="onLeftPanelCollapsed";
            settings.SetContent(() =>
            {
                Html.RenderPartial("LeftPanelPartial");
            });

        }).GetHtml()

        @if (IsSectionDefined("RightPanelContent"))
        {
                @Html.DevExpress().Panel(settings => {
                    settings.Name = "rightPanel";
                    settings.Collapsible = true;
                    settings.FixedPosition = PanelFixedPosition.WindowRight;
                    settings.FixedPositionOverlap = true;
                    settings.ScrollBars = ScrollBars.Auto;
                    settings.Width = Unit.Pixel(260);
                    settings.ControlStyle.CssClass = "right-panel";
                    settings.Styles.ExpandBar.CssClass = "expand-bar";
                    settings.SettingsCollapsing.ExpandButton.Visible = false;
                    settings.SettingsCollapsing.ExpandEffect = PanelExpandEffect.PopupToLeft;
                    settings.SettingsCollapsing.Modal = true;
                    settings.ClientSideEvents.Collapsed = "onRightPanelCollapsed";
                    settings.SetContent(() => ViewContext.Writer.Write(RenderSection("RightPanelContent", false)));
                }).GetHtml()
        }


        <div class="content" id="pageContent">
            @RenderBody()

        </div>
        <div class="footer-wrapper" id="footerWrapper">
            <div class="footer">
                <span class="footer-left">
                    <div id="MessageText" class="message"></div>
                </span>
                <span class="footer-right">
                    <a class="footer-link" href="#">Privacy Policy</a>
                    <a class="footer-link" href="#">Terms of Service</a>
                </span>
            </div>
        </div>
        @Html.DevExpress().PopupControl(settings =>
    {
            settings.Name = "popupSuccess";
            settings.CloseAction = CloseAction.OuterMouseClick;
            settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
            settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;

            settings.CloseAnimationType = AnimationType.None;
            settings.PopupAnimationType = AnimationType.None;

            settings.ShowFooter = false;
            settings.ShowHeader = true;
            settings.Styles.Footer.Paddings.Padding = 0;

            settings.ShowPageScrollbarWhenModal = false;

            settings.EnableHotTrack = false;


            settings.LoadContentViaCallback = LoadContentViaCallback.None;
            settings.PopupElementID = "ShowButton";
            settings.HeaderText = "Info";

            //settings.ControlStyle.BackColor = System.Drawing.Color.FromName("#318CE7");

            settings.SetContent(() =>
            {
                ViewContext.Writer.Write(
                       "<strong>Success!</strong>"
                   );

            });
            settings.PreRender = (sender, e) =>
            {
                ASPxPopupControl popup = (ASPxPopupControl)sender;
                popup.Width = 200;
                popup.Height = 100;
            };

        }).GetHtml()


        @Html.Partial("~/Views/Notification/Notification.cshtml")

        @*@Html.DevExpress().PopupControl(settings =>
        {
            settings.Name = "popupNotif";

            // controller + action untuk load ulang isi popup
            settings.CallbackRouteValues = new { Controller = "Notification", Action = "Popup_OnDemand" };

            settings.CloseAction = CloseAction.CloseButton;
            settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
            settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
            settings.Modal = false;

            settings.ShowFooter = true;
            settings.ShowRefreshButton = true;     // tombol refresh otomatis
            settings.LoadContentViaCallback = LoadContentViaCallback.OnFirstShow;

            settings.HeaderText = "Notification List";

            settings.SetContent(() =>
            {
                Html.RenderPartial("~/Views/Notification/Notification.cshtml");
            });

            settings.PreRender = (sender, e) =>
            {
                var popup = (ASPxPopupControl)sender;
                popup.Width = 600;
                popup.Height = 450;
            };
        }).GetHtml()*@




    </div>
    @*<script type="text/javascript">
            MVCxClientGlobalEvents.AddControlsInitializedEventHandler(onControlsInitialized);
            ASPxClientControl.GetControlCollection().BrowserWindowResized.AddHandler(onBrowserWindowResized);
        </script>*@

    

</body>
</html>